.toolbar{
  background-color: rgb(168, 145, 11);
  width: 100vw;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.usuarioCima{
  color: white;
  margin-top: 1rem;
}








// parte do código
.owing {
    color: red;
  }
  
  .positive {
    color: green;
  }

.maior{
    color: blue;
}
  


