<body>



<header class="header">
  <mat-toolbar class="toolbar">
<img class="logoGringotes" src="../imagens/logoGringotes.jpg" alt="">
<h2 class="usuarioCima">GRINGOTTS</h2>
</mat-toolbar>
</header>
<!-- Add user form -->

<main>

<form (ngSubmit)="addUser()">
  <input type="text" name="name" [(ngModel)]="newUser.name" placeholder="Name">
  <input type="number" name="balance" [(ngModel)]="newUser.saldo" placeholder="Balance">
  <button type="submit">Add usuário</button>
</form>

<!-- User list -->
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Saldo</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users" [ngClass]="{'owing': user.saldo < 0, 'positive': user.saldo > 0, 'maior': user.saldo > 100000}">
      <td>{{ user.name }}</td>
      <td>{{ user.saldo | currency: "BRL "}}</td>
      <td>
        <button (click)="editUser(user)">Edit</button>
        <button (click)="removeUser(user)">Remove</button>
      </td>
    </tr>
  </tbody>
</table>

<!-- Edit user form -->
<div *ngIf="editMode">
  <h3>Edit User</h3>
  <form (ngSubmit)="updateUser()">
    <input type="text" name="name" [(ngModel)]="selectedUser.name">
    <input type="number" name="balance" [(ngModel)]="selectedUser.saldo">
    <button type="submit">Save</button>
    <button type="button" (click)="cancelEdit()">Cancel</button>
  </form>
</div>
</main>
    
</body>